<div class="mat-typography">
  <!-- <label id="radio-group-label">Pick a city to place on the map:</label>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="radio-group"
    [(ngModel)]="activeCity"
  >
    <mat-radio-button
      class="radio-button"
      *ngFor="let city of cities"
      [value]="city"
    >
      {{ city }}
    </mat-radio-button>
  </mat-radio-group>

  <h3 *ngIf="activeCity">
    You are currently placing:<br />
    <button mat-raised-button color="primary">
      {{ activeCity | uppercase }}
    </button>
  </h3> -->
  <section>
    <mat-button-toggle-group
      vertical="true"
      [formControl]="activeCity"
      aria-label="Select City"
    >
      <mat-button-toggle
        (change)="onCheck()"
        *ngFor="let city of cities"
        value="{{ city.name }}"
        disabled="{{ city.disabled }}"
      >
        {{ city.name }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <h3 *ngIf="activeCity.value">
    You are currently placing <br />
    <button mat-raised-button color="primary">
      {{ activeCity.value }}
    </button>
  </h3>
</div>
