<div class="mat-typography app-map-radio">
  <!-- <label id="radio-group-label">Pick a city to place on the map:</label>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="radio-group"
    [(ngModel)]="activeCity"
  >
    <mat-radio-button
      class="radio-button"
      *ngFor="let city of cities"
      [value]="city"
    >
      {{ city }}
    </mat-radio-button>
  </mat-radio-group>

  <h3 *ngIf="activeCity">
    You are currently placing:<br />
    <button mat-raised-button color="primary">
      {{ activeCity | uppercase }}
    </button>
  </h3> -->

  <!-- <h3>Pick a city and double click to place on the map.</h3>
  <section>
    <mat-button-toggle-group
      vertical="false"
      [formControl]="activeCity"
      aria-label="Select City"
    >
      <mat-button-toggle
        (change)="onCheck()"
        *ngFor="let city of cities"
        value="{{ city.city }}"
        disabled="{{ false }}"
      >
        {{ city.city }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section> -->

  <section>
    <mat-button-toggle-group
      class="city-group"
      vertical="false"
      color="warn"
      [formControl]="activeCity"
      aria-label="Select City"
    >
      <mat-button-toggle
        class="city-colorize"
        (change)="onCheck()"
        value="Szentendre"
        checked="true"
        disabled="true"
      >
        <mat-icon aria-hidden="false" aria-label="Pin icon">room</mat-icon
        >Szentendre
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group
      vertical="false"
      color="warn"
      [formControl]="activeCity"
      aria-label="Select City"
    >
      <mat-button-toggle>
        Next
        <mat-icon aria-hidden="false" aria-label="Right arrow icon"
          >chevron_right</mat-icon
        ></mat-button-toggle
      >
    </mat-button-toggle-group>

    <p>Double click to place city on map then click next to confirm.</p>
  </section>
</div>
