<div class="mat-typography app-map-radio">
  <section>
    <mat-button-toggle-group
      class="city-group"
      vertical="false"
      aria-label="Guessed Selected"
    >
      <mat-button-toggle
        class="city-colorize"
        value="{{
          currentGuessIndex < markers.size
            ? markers.get(currentGuessIndex).getTitle()
            : 'city'
        }}"
        checked="true"
        disabled="true"
      >
        <mat-icon aria-hidden="false" color="warn" aria-label="Pin icon"
          >room</mat-icon
        >{{
          currentGuessIndex < markers.size
            ? markers.get(currentGuessIndex).getTitle()
            : "City"
        }}
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group aria-label="Confirm City Guess">
      <mat-button-toggle
        (click)="onClick($event)"
        [disabled]="!(currentGuessIndex < markers.size)"
      >
        Next
        <mat-icon aria-hidden="false" color="warn" aria-label="Right arrow icon"
          >chevron_right</mat-icon
        ></mat-button-toggle
      >
    </mat-button-toggle-group>

    <p>Double click to place city on map then click next to confirm.</p>
  </section>
</div>
