.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

app-map-radio {
  margin: 0 20px;
}

.city-progress-bar {
  margin-bottom: 20px;
}

.city-group {
  margin: 10px;
}

.city-colorize {
  // margin: 10px;
  background-color: #ff7268;
}
