<!-- <mat-toolbar>
  <div>
    <mat-icon>info</mat-icon>
    <span>Maps Game logo</span>
  </div>
  <div>
    <ul>
      <li>Tutorial</li>
      <li>Play</li>
      <mat-icon>info</mat-icon>
    </ul>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div
      style="
        background-color: lightsalmon;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <h1>{{ cover.title }}</h1>
      <h2>{{ cover.subtitle }}</h2>
      <button mat-raised-button color="accent">{{ cover.buttonTitle }}</button>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->

<app-navigation></app-navigation>
