<div class="mat-typography">
  <h3>Change map style:</h3>
  <section>
    <mat-icon aria-hidden="false" aria-label="Map Style Select"
      >invert_colors</mat-icon
    >
    <mat-button-toggle-group
      vertical="false"
      [formControl]="selectedMapStyle"
      aria-label="Select Map Style"
      value="activeMapStyle"
    >
      <mat-button-toggle
        (change)="onChangeMapStyle()"
        *ngFor="let style of mapStyles | keyvalue"
        checked="{{ style.key === activeMapStyle }}"
        value="{{ style.key }}"
        disabled="false"
      >
        {{ style.key }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section>
</div>
