<mat-progress-bar
  class="city-progress-bar"
  color="warn"
  value="40"
></mat-progress-bar>

<div class="flex-stretch">
  <div class="align-text-top app-map-radio">
    <app-map-radio
      *ngIf="isDataLoaded"
      class=""
      [markers]="markers"
      [markersGuessed]="markersGuessed"
    ></app-map-radio>
  </div>

  <div class="align-text-top app-map-styles">
    <app-map-styles
      class="app-map-styles"
      [mapStyles]="mapStyles"
      [activeMapStyle]="activeMapStyle"
      (onChangeMapStyleEvent)="changeMap($event)"
    ></app-map-styles>
  </div>
</div>

<div class="flex-stretch">
  <div #mapContainer id="map"></div>
</div>
