<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile class="align-text-top" colspan="1" rowspan="1"
    ><p class="mat-body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam quam
      quisquam laudantium ab natus fuga ut dolores dolor aut eligendi, quis
      vero, saepe dolorem qui culpa quaerat numquam. Porro, dicta.
    </p></mat-grid-tile
  >
  <mat-grid-tile id="map" colspan="2" rowspan="1">
    <google-map
      class="map-container"
      [center]="center"
      height="500px"
      width="100%"
    ></google-map>
  </mat-grid-tile>
</mat-grid-list>
