mat-grid-list {
  margin-top: 20px;
}

.map-container {
  width: 100%;
  position: initial;
  padding: 20px;
}

.tutorial {
  padding: 16px;
  min-height: 100%;
}

.align-text-top {
  display: block;
}
