<div class="tutorial">
  <h1 class="mat-headline">Welcome to Cities of Hungary</h1>
  <div>
    <img src="../../assets/images/angular.png" alt="" />
  </div>
  <p class="mat-body">
    This frond-end project was born from the simple idea of learning to use
    Angular.
  </p>
  <a routerLink="/play">
    <mat-button-toggle-group vertical="false" aria-label="Play game">
      <mat-button-toggle checked="true">
        <mat-icon aria-hidden="false" color="warn" aria-label="Pin icon"
          >room</mat-icon
        >Play game
      </mat-button-toggle>
    </mat-button-toggle-group>
  </a>
</div>
