@use "@angular/material" as mat;

@import "../src/assets/indigo-pink.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  // font-family: "Poppins", sans-serif;
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code {
  padding: 16px;
}

ul,
li {
  display: inline-block;
  margin-right: 20px;
}

@import "@angular/material/theming";
@include mat.core();
@import "../src/assets/quicksand.scss";

.quicksand-types {
  @include mat.all-component-typographies($quicksand-typography);
}

.alternative-theme {
  $alternative-typography: mat.define-typography-config(
    $font-family: "Poppins. sans-serif",
  );

  $alternative-theme: mat.define-light-theme(
    (
      typography: $alternative-typography,
    )
  );

  @include mat.all-component-themes($alternative-theme);
}

.mat-display-2,
.mat-display-1 {
  text-align: center;
}

.flex-stretch {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start !important;
  justify-content: space-between !important;
  padding: 20px 20px 0px 20px !important;
}

.mat-icon {
  margin-right: 5px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
