@use "@angular/material" as mat;

// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@import "../src/assets/indigo-pink.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  // font-family: "Poppins", sans-serif;
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code {
  padding: 16px;
}

ul,
li {
  display: inline-block;
  margin-right: 20px;
}

@import "@angular/material/theming";
@include mat.core();
@import "../src/assets/quicksand.scss";

.quicksand-types {
  @include mat.all-component-typographies($quicksand-typography);
}

.mat-display-2,
.mat-display-1 {
  text-align: center;
}

.flex-stretch {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start !important;
  justify-content: space-between !important;
  padding: 20px 20px 0px 20px !important;
}

.mat-icon {
  margin-right: 5px;
}
