@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@import "../src/assets/pink-bluegrey.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

ul,
li {
  display: inline-block;
  margin-right: 20px;
}
